<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <title>500错误</title>
</head>
<body>
<nav th:replace="_fragment :: menu(0)" class="ui inverted attached vertical segment ">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header">Roderland</h2>
            <a href="#" class="active item m-mobile-hide m-item"><i class="home icon"></i> 首页</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i> 分类</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i> 标签</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="clone icon"></i> 归档</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="info icon"></i> 关于我</a>
            <div class="right item m-mobile-hide m-item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search ...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black button m-top-right m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="ui container">
    <div class="ui error message">
        <div class="ui container">
            <h2>500错误</h2>
            <p>对不起，服务器好像出错了<div th:text="${url}"></div></p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer th:replace="_fragment :: footer" class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid stackable">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img class="ui rounded image" style="width: 100px" src="../static/image/avatar.jpg"
                             th:src="@{/image/avatar.jpg}"/>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div><a href="http://roderland.gitee.io" class="m-color-href">个人博客 （http://roderland.gitee.io）</a></div>
                <div><a href="https://gitee.com/Roderland" class="m-color-href">Gitee码云
                    （https://gitee.com/Roderland）</a></div>
                <div><a href="https://github.com/Roderland" class="m-color-href">GitHub
                    （https://github.com/Roderland）</a></div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">自我介绍</h4>
                <p>SpringBoot开发一个小而美的个人博客</p>
                <p>A small and beautiful personal blog developed by SpringBoot </p>
            </div>
        </div>
    </div>
    <div class="ui inverted section center aligned container">
        <div class="ui inverted divider"></div>
        <p> Powered by Roderland From 2020-08-31 </p>
    </div>
</footer>
</body>
</html>