<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title th:replace="${title}">title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}"/>
</head>
<body>
    <nav th:fragment="menu(n)" class="ui inverted attached vertical segment ">
        <div class="ui container">
            <div class="ui inverted stackable secondary menu">
                <h2 class="ui teal header">Roderland</h2>
                <a th:classappend="${n==1} ? 'active'" href="#" class="item m-mobile-hide m-item"><i class="home icon"></i> 首页</a>
                <a th:classappend="${n==2} ? 'active'" href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i> 分类</a>
                <a th:classappend="${n==3} ? 'active'" href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i> 标签</a>
                <a th:classappend="${n==4} ? 'active'" href="#" class="item m-mobile-hide m-item"><i class="clone icon"></i> 归档</a>
                <a th:classappend="${n==5} ? 'active'" href="#" class="item m-mobile-hide m-item"><i class="info icon"></i> 关于我</a>
                <div class="right item m-mobile-hide m-item">
                    <form name="search" action="#" th:action="@{/search}" target="_blank" method="post">
                        <div class="ui icon input">
                            <input type="text" name="query" placeholder="Search ..." th:value="${query}">
                            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#" class="ui black button m-top-right m-mobile-show menu toggle">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <footer th:fragment="footer" class="ui inverted vertical segment">
        <div class="ui center aligned container">
            <div class="ui inverted divided grid stackable">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img class="ui rounded image" style="width: 100px" src="../static/image/avatar.jpg" th:src="@{/image/avatar.jpg}"/>
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header">友情链接</h4>
                    <div><a href="http://roderland.gitee.io" class="m-color-href">个人博客 （http://roderland.gitee.io）</a></div>
                    <div><a href="https://gitee.com/Roderland" class="m-color-href">Gitee码云 （https://gitee.com/Roderland）</a></div>
                    <div><a href="https://github.com/Roderland" class="m-color-href">GitHub （https://github.com/Roderland）</a></div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">自我介绍</h4>
                    <p>SpringBoot开发一个小而美的个人博客</p>
                    <p>A small and beautiful personal blog developed by SpringBoot </p>
                </div>
            </div>
        </div>
        <div class="ui inverted section center aligned container">
            <div class="ui inverted divider"></div>
            <p> Powered by Roderland From 2020-08-31 </p>
        </div>
    </footer>

    <th:block th:fragment="script">
        <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
        <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
        <script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    </th:block>
</body>
</html>